<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus.seniorassistant">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.camera2" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".CreateNoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".DeleteEditNote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.asus.seniorassistant"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".RecordAudioActivity" />
        <activity android:name=".ViewRecordedAudio" />
        <activity android:name=".ActivityOne" />
        <activity android:name=".ActivityHeartRate" />
        <activity android:name=".ActivityThree" />
        <activity android:name=".ActivityFour" />
        <activity android:name=".CreateReminderActivity"></activity>
        <activity android:name=".Alert"></activity>
        <activity android:name=".viewReminder"></activity>
        <activity android:name=".editReminder"></activity>
        <receiver android:name=".AlarmReceiver" android:exported="true" android:enabled="true"> </receiver>
    </application>

</manifest>